@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-SemiBold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Sarabun';
    src: url('./assets/fonts/Sarabun-ExtraBold.woff2');
    font-weight: 800;
}