.header {
    max-width: 100%;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: rgba($color: white, $alpha: 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.logo {
    max-width: 50px;
}

.logo-image {
    width: 100%;
}

.title-text {
    display: flex;
}

.title-letter {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    transition: .5s;
}

.title-letter:hover {
    transform: scale(1.4);
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-date {
    font-size: 28px;
    font-weight: 400;
}

.date-time {
    font-size: 24px;
}