.main {
    max-width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: rgba($color: white, $alpha: 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    background-color: rgba($color: white, $alpha: 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: none;
    flex-grow: 1;
    flex-basis: 1;
    max-width: 250px;
    max-height: 50px;
    cursor: pointer;
}

.button-image {
    height: 100%;
}

.add-button {
    background-color: transparent;
    backdrop-filter: blur(0px);
}

.body-tasks {
    background-color: rgba($color: white, $alpha: 0.1);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    max-width: 750px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 20px;
}

.task-container {
    display: none;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 20px;
}

.task-input {
    border-radius: 20px;
    border: 1px solid gray;
    width: 70%;
}

.task-button {

}

.task-container.active {
    display: flex;
}